body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7ebf0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.display-flex {
  display: flex;
  width: 100%;
}

.page-wrapper {
  display: flex;
  gap: 20px;
  max-width: 1500px;
  margin: auto;
  justify-content: space-around;
}

.tab-wrapper {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  /* align-items: center; */
}

.my-form {
  max-width: 35%;
}

.eu-table {
  /* max-width: 65%; */
}
.span-key {
  font-weight: 600;
}
.e-data-wrapper {
  float: right;
}

.center-div {
  margin: auto;
}

.static-wrapper {
}

.static-form {
  width: 100%;
}
.static-result {
  margin-top: 30px;
}
#table-header {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .display-flex {
    width: 100%;
    display: block;
  }

  .page-wrapper {
    display: block;
    max-width: 100%;
  }

  .my-form {
    width: 100%;
    max-width: 100%;
  }

  .eu-table {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }
}
